# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Cypress
cypress/videos/
cypress/screenshots/
cypress/reports/

# Logs
logs/
*.log
*.log.*

# Sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ambiente
.env
.env.local
.env.*.local

# Outros
coverage/
